.login-section
{
  margin:5rem;
  display: flex;
  flex-direction: column;
}

.login-form
{
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

input,.login-btn-container,.login-signup-link
{
  margin: 5px 0;
}

input
{
  padding: 5px;
}

.login-btn-container,.login-signup-link
{
  display: flex;
  justify-content: center;
}

.login-btn-container > button
{
  padding: 2px;
  width: 10rem;
}

.validation
{
  color: #ff0000;
  padding-left: 4px;
  font-size: 14px;
}


