.dash-items
{
   display: flex;
   margin-top: 5rem;
}
.dash-item
{
    padding: 2rem;
    margin: 3rem 1rem;
    font-size: 20px;
    background-color: rgb(174, 174, 174);
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

