/* You can add global styles to this file, and also import other style files */
body {
  padding: 4rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  background: rgb(221, 221, 221);
  min-height: 80vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.head {
  width: 100%;
  text-align: center;
}

.form-section {
  margin: 5rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

input,
textarea,
select{
  padding: 5px;
}

.validation {
  color: #db0000;
  padding-left: 4px;
  font-size: 14px;
}

input,
textarea,
select,
.btn-container,
.util-btn-container,
.login-signup-link {
  margin: 5px 0;
}

input,
textarea,
select {
  border: none;
  background: rgb(164 162 162);
}

input::placeholder,
textarea::placeholder{
  color: rgb(255, 255, 255);
}

/* Change color of calendar icon */
input[type="date"] {
  color-scheme: normal;
  cursor: pointer;
}


.btn-container,
.login-signup-link {
  display: flex;
  justify-content: space-around;
}

.util-btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-container>button {
  padding: 2px;
  width: 10rem;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 80%;
}

.table
{
  overflow-x: auto;
  overflow-y: auto;
}

.summary-back-btn {
  display: flex;
  justify-content: flex-end;
  width: 79%;
  margin-bottom: 5px;
}

button {
  border: none;
  cursor: pointer;
}

.btn,
button {
  padding: 5px 25px;
  border-radius: 30px;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

.table {
  width: 80%;
}

table {
  font-size: 14px;
  border-spacing: 1px;
  text-align: left;
  color: #e3e3e3;
}

th:first-child {
  border-radius: 5px 0 0 0;
}

th:last-child {
  border-radius: 0 5px 0 0;
}

tr:last-child>td:first-child {
  border-radius: 0 0 0 5px;
}

tr:last-child>td:last-child {
  border-radius: 0 0 5px 0;
}

th,
td {
  width: 12%;
  padding: 10px;
  border-color: aqua;
}

th {
  background: #4a4a4a;
}

td {
  background: #3b3b3b;
}