/* You can add global styles to this file, and also import other style files */
body
{
    padding: 4rem;
    font-family: 'Poppins', sans-serif;
}

.container
{
    background: rgb(221, 221, 221);
    min-height: 80vh;
}

.main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.head
{
  width: 100%;
  text-align: center;
}
