<div class="employee-summary-main main">
    <div class="employee-summary-head head">
        <!-- Logout Button -->
        <app-logout></app-logout>
        <!-- Page Heading  -->
        <app-page-heading [heading]="page_heading"></app-page-heading>
    </div>
    <div class="summary">
        <div class="summary-back-btn">
            <a class="btn back-btn" href="#">Back</a>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Position</th>
                    <th>Daily Wage</th>
                </tr>
                <!-- For Loop -->
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </table>
        </div>
    </div>
</div>