.close-btn {
  background: rgb(255, 66, 66);
}
.add-btn {
  background: rgb(65, 164, 29);
}

.clear-btn {
  background: rgb(55, 183, 252);
}

.date-label {
  font-size: 16px;
}

/* Responsive BreakPoints */
@media only screen and (min-width: 576px) {
  .validation {
    font-size: 16px;
  }
  .form-section {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
